@font-face {
    font-family: 'Lilita One';
    src: url('../fonts/LilitaOne-Regular.ttf');
}

.appContainer {
    -fx-background-image: url('../images/newBackground.png');
    -fx-background-repeat: none;
    -fx-background-size: cover;
}

.logo {
    -fx-background-image: url('../images/modcraftLogo.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.blackContainer{
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 10;
}

.normalText {
    -fx-text-fill: #8B8B8B;
    -fx-alignment: center;
}

.italicText{
    -fx-text-fill: #8B8B8B;
    -fx-alignment: center;
    -fx-font-style: italic;
}

.specialText {
    -fx-text-fill: #FF820F;
}

.settingsButton{
    -fx-background-color: transparent;
    -fx-background-image: url('../images/icon_settings.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.closeButton{
    -fx-background-color: red;
}

.playButton {
    -fx-background-color: #FF820F;
    -fx-background-radius: 10;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.logoutButton{
    -fx-background-color: #FF820F;
    -fx-background-radius: 6;
    -fx-padding: 0;
    -fx-text-fill: white;
}

.logoutIcon{
    -fx-background-image: url('../images/logout-button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.loginIcon{
    -fx-background-image: url('../images/login-button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.lilita {
    -fx-font-family: 'Lilita One';
}

.newsBlackBlur{
    -fx-background-color: rgba(0, 0, 0, 0.50);
    -fx-background-radius: 10;
}

.blocker{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}