.container {
    -fx-background-image: url('../images/background.png');
    -fx-background-repeat: none;
    -fx-background-size: cover;
}

.login-container {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.login-button {
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-background-color: black;
}

.userbox {
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 5;
}

.discord {
    -fx-font-family: FontAwesome;
    -fx-font-size: 16.0;
}

.field {
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}

.field:focused{
    -fx-border-color: #3c98d3;
}

.close {
    -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
    -fx-scale-shape: false;
}

.hide {
    -fx-border-radius: 1;
}

.blue{
    -mfx-main: #3c98d3;
}

.ramSlider{
    -mfx-main-color: #3c98d3;
    -mfx-main-color-hover: rgb(60, 152, 211, 0.2);
    -mfx-main-color-pressed: rgb(60, 152, 211, 0.3);
}

/*.ramSlider .bar{*/
/*    -mfx-main-color: blue;*/
/*    -mfx-color: blue;*/
/*    -fx-fill: blue;*/
/*}*/
/*.ramSlider .thumb{*/
/*    -mfx-main-color: green;*/
/*    -mfx-color: green;*/
/*    -mfx-main-color: green;*/
/*}*/
/*.ramSlider .thumb-container,*/
/*.ramSlider .thumb-radius,*/
/*.ramSlider .track,*/
/*.ramSlider .mfx-ripple-generator{*/
/*    -mfx-main-color: red;*/
/*}*/

.slideBar > .colored-track {
    -fx-background-color: #2980b9;
}

.slideBar > .thumb {
    -fx-background-color: #2980b9;
}

.slideBar > .animated-thumb {
    -fx-background-color: #2980b9;
}